# Build outputs
build/
builds_*/
*.aab
*.apk
*.ipa

# Large dependencies
OpenJDK*/
**/modules

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db